<div class="nav-links">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-item" href="performances">Performances</NavLink>
    <NavLink class="nav-item" href="gallery">Gallery</NavLink>
    <NavLink class="nav-item" href="contact">Contact</NavLink>
</div>

